@font-face {
    font-family: gunplay;
    src: url(gunplayRg.ttf.otf);
}

@font-face {
    font-family: gunplay3d;
    src: url(gunplay3d.otf);
}

@font-face {
    font-family: vanilla;
    src: url(VanillaWhale.ttf.otf);
}

@font-face {
    font-family: bavex;
    src: url(Bavex.ttf);
}

@font-face {
    font-family: sugar;
    src: url(Saudagar.ttf);
}

@font-face {
    font-family: forque;
    src: url(Forque.ttf);
}

@font-face {
    font-family: bake;
    src: url(Bakery.ttf);
}

@font-face {
    font-family: summer;
    src: url(Summer\ Island\ TTF\ Personal.ttf);
}

@font-face {
    font-family: dealer;
    src: url(dealerplate\ california.otf);
}

@font-face {
    font-family: long;
    src: url(Longevity.ttf);
}

:root {
    --16px: 1rem;
    --24px: 1.5rem;
    --32px: 2rem;
    --40px: 2.5rem;
    --300px: 18.75rem;
}

.containerX {
    margin-top: -20px;
}


.containerX .companyName {
    font-size: 70px;
    font-family: long;
    color: rgb(183, 241, 241);
}

.containerX .companyName span {
    font-size: 40px;
    font-family: bake;
    color: rgb(2, 172, 172);
    font-weight: 100;
    display: block;
    margin-top: -1px;
    letter-spacing: 10px;
}

body {
    margin: 0;
    background: rgb(55, 66, 64);
    color: white;
    text-align: center;
}

.containerX .rectangleTopBar {
    width: 100%;
    height: 100px;
    background: rgb(0, 109, 109);
    margin-top: -40px;
}

.containerX .rectangleTopBar .navbar {
    padding: 30px;
    display: flex;
    padding-left: 600px;
}



.containerX .rectangleTopBar .navbar a {
    padding: 0 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    font-family: sugar;
    color: whitesmoke;
}

.rectangleTopBar .navbar a:hover {
    color: rgb(2, 172, 172);
    scale: 1.1;
}

.containerX .searchBar {
    height: 27px;
    display: flex;
    cursor: pointer;
    padding: 7px 100px;
    border-radius: 50px;
    background: rgb(0, 109, 109);
    border: solid 1px white;
    width: 250px;
    margin-top: -63px;
    margin-left: 50px;
}

.containerX .searchBar input {
    outline: none;
    border: none;
    background: transparent;
    padding: 0 50px;
    color: #fff;
    margin-left: -100px;
}

.containerZ {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: .5s ease-in-out;
}

.icon-cart img {
    scale: 0.3;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(100%) contrast(105%);
    transition: .2s ease-in-out;
    position: absolute;
    top: -270px;
    left: 30px;
}

.icon-cart img:hover {
    scale: 0.32;
}

.menu img {
    scale: 0.2;
    position: absolute;
    left: 200px;
    top: 245px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(100%) contrast(105%);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.menu img:hover {
    scale: 0.205;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgb(0, 128, 128, 0.5);
    backdrop-filter: blur(15px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sugar;
    font-weight: 550;
    font-size: 22px;
}

.dropdown a:hover {
    background-color: #f1f1f1;
    color: teal;
}


.title {
    font-size: 40px;
    padding: 50px;
    font-family: gunplay;


}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart {
    position: relative;
}

header .icon-cart span {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -177px;
    left: 128px;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 40px 15px rgba(0, 0, 0, 0.849));
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.listProduct .item {
    background: linear-gradient(rgb(14, 141, 141), rgb(2, 31, 31));
    backdrop-filter: blur(10px);
    padding: 40px 5px;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
    box-shadow: 10px 10px 10px rgba(50, 51, 51, 0.5);
}

.listProduct .item:hover {
    transform: translateZ(30px) scale(1.02);
    background: linear-gradient(rgb(26, 192, 170), rgb(3, 41, 41));

}

.listProduct .item h2 {
    font-family: sugar;
    font-weight: 550;
    font-size: 23px;
}

.listProduct .item .price {
    letter-spacing: 3px;
    font-size: small;
}

.listProduct .item button {
    background-color: rgb(0, 128, 128);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: solid 2px rgb(2, 156, 156);
    cursor: pointer;
}

.cartTab {
    width: 400px;
    background-color: rgb(11, 75, 75);
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s ease-in-out;
}

.cartTab .totalPriceContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    font-family: sugar;
    color: white;
    background-color: rgb(3, 48, 48);
    border-top: 2px solid rgb(11, 75, 75);
}

.cartTab .totalPrice {
    font-weight: bold;
    color: rgb(27, 216, 216);
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

body.showCart .containerZ {
    transform: translateX(-250px);
}

.cartTab h1 {
    font-family: sugar;
    padding: 20px;
    margin: 0;
    font-weight: 500;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
    background-color: rgb(3, 48, 48);
    border: solid 2px rgb(11, 75, 75);
    font-family: sugar;
    font-weight: 550;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.cartTab .btn button:hover {
    scale: 1.03;
    background-color: rgb(27, 216, 216);
    color: rgb(3, 48, 48);
}

.cartTab .listCart .item img {
    width: 100%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    background-color: rgb(8, 197, 197);
    display: inline-block;
    width: 23px;
    height: 23px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border-radius: 50%;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: white;
}

.listCart .item:nth-of-type(even) {
    background-color: rgb(2, 75, 75);
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

.suggestions-list {
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: teal;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    color: white;
    width: 30%;
    top: 219px;
    left: 70px;
    text-align: left;
}

.suggestions-list div {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list div:hover {
    background-color: rgb(196, 212, 207);
    color: teal;
}

.highlight {
    background-color: rgb(155, 228, 205);
    ;
    /* Choose your desired color */
    transition: background-color 0.3s ease;
    /* Smooth transition */
    color: teal;
}

@media screen and (max-width: 412px) {

    html,
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .containerX .searchBar {
        height: 27px;
        display: flex;
        cursor: pointer;
        padding: 7px 150px;
        border-radius: 50px;
        background: rgb(0, 109, 109);
        border: solid 1px white;
        width: 50px;
        margin-top: -63px;
        margin-left: 30px;
    }

    .containerX .rectangleTopBar .navbar {
        visibility: hidden;
    }

    .listProduct {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .menu img {
        scale: 0.18;
        position: absolute;
        left: -70px;
        top: 180px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(100%) contrast(105%);
        transition: .2s ease-in-out;
        cursor: pointer;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: rgb(0, 128, 128, 0.5);
        backdrop-filter: blur(25px);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 320px;
        left: 0;
    }

    .icon-cart img {
        scale: 0.3;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(100%) contrast(105%);
        transition: .2s ease-in-out;
        position: absolute;
        top: -170px;
        left: -140px;
    }

    .icon-cart span {
        margin-left: -170px;
        margin-top: 100px;
    }

    .cartTab {
        width: 412px;
        /* Adjust the width as needed */
        position: fixed;
        inset: 0 415px 0 auto;
        /* Adjust inset to ensure it's visible */
        display: grid;
        grid-template-rows: 70px 1fr 70px;
        transition: inset .9s ease-in-out;
        height: 915px;
        /* Ensure it takes up full height */
    }


    body.showCart .cartTab {
        inset: 0 0 0 0;
        transition: inset .9s ease-in-out;
        /* Slide in from the right for smaller screens */
    }
}

@media screen and (max-width: 390px) {

    html,
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}